[run]
branch = True
omit =
    common/*
    tests/*
    domain/interfaces/*
    **/__init__.py
    


[report]
exclude_also =
    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:
    get_price
    __hash__

    @(abc\.)?abstractmethod